{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="row container-fluid pt-5 mt-5 pl-5" >
    <div id="test"></div>
    <div class="col" >
        <h3>For approval: </h3>
        <table class="table" style="width:100%;background-color:white;" id="for_approval">

        </table>
    </div>
</div>
<div class="row container-fluid pt-5 mt-5 pl-5">
    <div class="col">
        <h3>Checked:</h3>
        <table class="table"  style="width:100%;background-color:white;" id="checked_requests">

        </table>
    </div>
</div>
<script src="{% static 'js/manager.js' %}"></script>

{% endblock%}