{% extends 'main.html' %}
{% block permbajtje %}
<div class="view" style="background-image: url('https://image.freepik.com/free-photo/woman-hangs-frame-wall-empty-place-your-photo-picture-design-logo_182615-159.jpg');height:700px;width:100%;o background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
      <!-- Content -->
      <div class="container pt-0">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-6 white-text text-center text-md-left" style="position: absolute;
                                                                            text-align: center;
                                                                            top: 100px;
                                                                            left: 350px;">
            <h1 class="h1-responsive font-weight-bold wow text-center  position-static mt-5" data-wow-delay="0.3s">The Human Resources Guy</h1>
            <hr class="hr-light wow fadeOutLeft" data-wow-delay="0.3s">
          </div>
        </div>


         <div class="row">
              <!--Grid column-->
                 <div class="col-5   text-center  position-static" >
                    <p style="position: absolute;
                                text-align: center;
                                top: 350px;
                                left: 250px;
                                font-size: 30px;
                                font-weight: 700;
                                font-family: Arial, Helvetica;
                                    "><a href="#" style="text-decoration: none;color:#17a2b8;">Manage <br>new <br> Employers,<br>Departments,<br>Holidays</a></p>
                 </div>
                 <div class="col-2   text-center  position-static">
                    <p style="position: absolute;
                                text-align: center;
                                top: 350px;
                                left: 670px;
                                font-size: 30px;
                                font-weight: 700;
                                font-family: Arial, Helvetica;
                                                "><a href="#" style="text-decoration: none;color:#17a2b8;">Give<br> permissions</a></p>
                 </div>
                 <div class="col-5   text-center  position-static">
                    <p style="position: absolute;
                                text-align: center;
                                top: 330px;
                                left: 1080px;
                                font-size: 30px;
                                font-weight: 700;
                                font-family: Arial, Helvetica;
                                           "><a href="#" style="text-decoration: none;color:#17a2b8;">General <br> Overview<br><br>Reports</a></p>
                 </div>
         </div>

       <!-- Content -->
      </div>
</div>
{% endblock%}