{% extends 'main.html' %}
{% load static %}
{% block content %}
<h4 class="pl-5 pt-5 mt-5 pb-3 bg-dark" style="color:white;">Manage offical holidays</h4>
<div class="row container pt-5" >
    <div class="col-7  ">
        <h5 class="pb-3">List of all holidays:</h5>
        <ul id="listt" style="list-style: none;">

        </ul>
    </div>
    <div class="col-5">
         <h5 class="pb-3">Create a new holiday:</h5>
        <form id="form-wrapper">
            <div class="form-group ">
                <label for="name" class="pt-3">Holiday Name</label>
                <input type="text" class="form-control" id="holname" placeholder="Holiday Name" required>

                <label for="day" class="pt-3">Pick a date</label>
                <input type="date" class="form-control" id="day" placeholder="Holiday date" >

                <label for="day" class="pt-3">Last active</label>
                <input type="date" class="form-control" id="lastactive">

                <label for="day" class="pt-3">Active </label>
                <input type="checkbox" id="active_flag" name="day" value="Active holiday">
            </div>
            <button type="submit" class="btn btn-success mt-5">Submit</button>
            <button class="btn btn-outline-success mt-5" onclick="reset">Reset</button>

        </form>
    </div>

</div>
<script src="{% static 'js/holiday.js' %}"></script>

{% endblock %}