{% extends 'main.html' %}
{% load static %}
{% block content %}
<h4 class="pl-5 pt-5 mt-5 pb-3 bg-dark" style="color:white;">Manage departments:</h4>
<div class="row container pt-5" >
    <div class="col-7  ">
        <h5 class="pb-3">List of all departments:</h5>
        <ul id="listt" style="list-style: none;">

        </ul>
    </div>
    <div class="col-5">
         <h5 class="pb-3">Create a new department:</h5>
        <form id="form-wrapper">
            <div class="form-group">
                <input type="text" class="form-control mt-3" id="depname" placeholder="Department name" required>


                <select class="form-control form-control-sm mt-4" id="depmanager">


                </select>

                <select class="form-control form-control-sm mt-4" id="wrapper">


                </select>
            </div>
            <button type="submit" class="btn btn-warning mt-5">Submit</button>
            <button class="btn btn-outline-warning mt-5" onclick="reset">Reset</button>

        </form>
    </div>

</div>

<script src="{% static 'js/departments.js' %}"></script>

{% endblock %}