{% extends 'main.html' %}
{% load static %}
{% block content %}
<h4 class="pl-5 pt-5 mt-5 pb-3 bg-dark" style="color:white;">Manage departments:</h4>
<div class="row container pt-5" >
    <div class="col-7  ">
        <h5 class="pb-3">List of all departments:</h5>
        <ul id="listt" style="list-style: none;">

        </ul>
    </div>
    <div class="col-5">
         <h5 class="pb-3">Create a new department:</h5>
        <form id="form-wrapper">
            <div class="form-group">
                <label for="name">Department Name</label>
                <input type="text" class="form-control" id="depname" placeholder="Department name" required>

                <label for="manager">Department Manager</label>
                <input type="text" class="form-control" id="depmanager" placeholder="Department manager">

                <label for="Parent_department">Under the supervision of:</label>
                <select class="form-control form-control-sm" id="wrapper">
                    <option value=1>No parent department</option>

                </select>
            </div>
            <button type="submit" class="btn btn-warning mt-5">Submit</button>
            <button class="btn btn-outline-warning mt-5" onclick="reset">Reset</button>

        </form>
    </div>

</div>

<script src="{% static 'js/departments.js' %}"></script>

{% endblock %}