{% extends 'main.html' %}
{% load static %}
{% block content %}
<h4 class="pl-5 pt-5 mt-5 pb-3 bg-dark" style="color:white;">Manage Job Positions</h4>
<div class="row container pt-5" >
    <div class="col-7  ">
        <h5 class="pb-3">List of all jobs and users:</h5>
        <table id="list" class="table" style="width:50%;background-color:white;">

        </table>
    </div>
    <div class="col-5">
         <h5 class="pb-3">Add a new job to a user:</h5>
        <form id="form-wrapper">
            <div class="form-group ">
                <label class=" mt-2">Choose User</label>
                <select class="form-control form-control-sm" id="user" required>

                </select>
                <label class=" mt-2">Choose Role</label>
                <select class="form-control form-control-sm" id="role" required>

                </select>

                <label class=" mt-2">Start date</label>
                <input type="date" class="form-control" placeholder="Start date"  id="start">
            </div>
            <button onclick="postRole" class="btn btn-success mt-5 mr-3">Submit</button>
            <button class="btn btn-outline-success mt-5" onclick="reset">Reset</button>
        </form>
    </div>
</div>
<script src="{% static 'js/jobs.js' %}"></script>

{% endblock %}