{% extends 'main.html' %}
{% load static %}
{% block content %}
<h4 class="pl-5 pt-5 mt-5 pb-3 bg-dark" style="color:white;">Manage employees</h4>
<div class="row container pl-5  " >
    <div class="col-7 pt-5">
        <h5 class="pb-3">My employees:</h5>
        <ul id="listt" style="list-style: none;">

        </ul>

    </div>

     <div class="col-5 mt-2">
         <h5 class="pb-3 pt-0">Create a new employee:</h5>
         <form id="form-wrapper">
            <div class="form-group">

                <input type="text" class="form-control" id="name" placeholder="First name" required>

                <input type="text" class="form-control mt-2" id="surname" placeholder="Last name" required>

                <input type="number" class="form-control mt-2" id="salary" placeholder="Salary" required>

                <input type="tel" class="form-control mt-2" id="phone" placeholder="Phone number" required>

                <label class=" mt-2">Hire date (default: today)</label>
                <input type="date" class="form-control" id="hire_date" placeholder="Hire date">

                <label class=" mt-2">Choose Department</label>
                <select class="form-control form-control-sm" id="wrapper" required>

                </select>


                <!--profile table -->
                <input type="email" class="form-control mt-2" placeholder="Email address" id="email" required>


                <!--user role table -->
                <label class=" mt-2">Job position</label>

                <select class="form-control form-control-sm" id="roles">

                </select>



            </div>

            <button type="submit" class="btn btn-success mt-1 mr-3">Submit</button>
            <button  class="btn btn-outline-secondary mt-1" onclick="reset()">Reset</button>
        </form>
    </div>
</div>
<script src="{% static 'js/users.js' %}"></script>

{% endblock %}