{% extends 'main.html' %}
{% load static %}
{% block content %}
<h4 class="pl-5 pt-5 mt-5 pb-3 bg-dark" style="color:white;">Change Password</h4>
<div class="row container pt-5" style="position: absolute;left: 40%;top:30%; padding: 10px;">

<form method="POST">
    {{form.non_field_errors}}
    {% csrf_token %}
        {% for field in form %}
            {{field.label_tag}}
            {{ field }} <br><br>

            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
        {% endfor %}

      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <button type="submit" class="btn btn-dark mt-5">Change password</button>
    <a  class="btn btn-dark mt-5" href="{% url 'reset_password' %}">Forgot password</a>

</form>

</div>

{% endblock %}